<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
</head>
<body>
    <center>
        <form action="", method="POST">
            {% csrf_token %}
            <input type="text", name= "username", placeholder="username">
            <label for="username">Username</label><br>

            <input type="password", name= "password", placeholder="password">
            <label for="password">Password</label><br>

            <input type="text", name= "first_name", placeholder="First Name">
            <label for="first_name">First name</label><br>

            <input type="text", name= "last_name", placeholder="Last Name">
            <label for="first_name">Last name</label><br>

            <input type="email", name= "email", placeholder="email">
            <label for="email">Email</label><br>
            
            <input type= "submit">
        </form>
    </center>
</body>
</html>